* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}


main{
	padding: 50px;
}

/*yellow #f5a627*/

/*red #dd1c26*/

.college-row {
	display: flex;
}

.college-single {
	display: inline-block;
	border: 1px solid #ededed;
	box-shadow: 0 0 1px black;
	width: 100%;
	/*padding-bottom: 20px;*/
	margin: 15px;
}

.top {
	position: relative;
}

img.clg-img {
	/* position: absolute; */
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	background: #000000a1;
	height: 100%;
}

.bottom {
	position: relative;
	padding: 15px;
}

ul {list-style: none;}

.promoted {
	position: absolute;
	right: -2px;
	top: -20px;
	background: #75affd;
	padding: 10px;
	color: #fff;
}

.review {
	position: absolute;
	top: 15%;
	right: 10px;
	background: #f5a627;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
}

span.review_big {
	font-size: 16px;
	font-weight: 600;
	margin: 0 2px;
}

.top-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* background: #eee; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.tags {
	/* display: inline-block; */
}

ul.filter-tags li {
	background: #fff;
	display: inline-block;
	padding: 10px 10px;
	margin: 0 5px;
	border-radius: 50px;
	font-size: 12px;
	color: #737272;
	font-weight: 600;
}

.hashtag {
	/* display: inline-block; */
	/* float: right; */
	color: #fff;
	padding: 10px;
	/* text-align: right; */
	font-size: 14px;
}

.hashtag span {
}

.bottom__1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-info a {
	color: #454344;
	text-decoration: none;
}

.title-info a:hover {
	color: #75affd;
}

h3.title {
	font-size: 18px;
}

ul.rating-star .star {
	display: inline-block;
}

li.star.light {
	color: #9E9E9E;
}

.off-price {
	display: flex;
	/* justify-content: space-around; */
	font-size: 12px;
	align-items: flex-end;
}

span.original-price {
	text-decoration: line-through;
	color: #607D8B;
}

span.flag {
	background: #dd1c26;
	padding: 2px 8px;
	color: #fff;
	position: relative;
	margin-left: 15px;
}

.bottom__2 {
	display: flex;
	justify-content: space-between;
	color: #454344;
	font-weight: 600;
}

.title-info {
	display: inline-flex;
	align-items: baseline;
}

.rating {
	padding-left: 15px;
}

span.light-text {
	color: #9E9E9E;
	font-weight: 300;
}

.price {
	text-align: right;
}

h3.discount-price {
	color: #dd1c26;
	font-size: 25px;
}


.price span {
	font-size: 11px;
	color: gray;
}


.bottom__3 {
	display: flex;
	justify-content: space-between;
	color: #454344;
	font-weight: 700;
}

.bottom__4 {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	color: #454344;
	font-weight: 700;
}

.facility ul li {
	display: inline-block;
}

.facility ul li:first-child {
	list-style: none;
}

.facility ul {
	list-style: disc;
}

.wallet {
	position: absolute;
	left: 0;
	background: #ccf5e7;
	border-radius: 0 20px 20px 0;
	padding: 10px 20px 10px 10px;
	display: inline-block;
	font-size: 14px;
}

.facility {
	position: absolute;
	right: 0;
	text-align: right;
	padding: 10px 10px;
	color: #37b496;
	font-weight: 700;
	font-size: 14px;
}

span.login a{
	color: #3fa5d5;
	font-weight: 700;
	text-decoration: none;
}

span.text-green {
	color: #37b496;
	font-weight: 700;
}

p.match {
	font-weight: 700;
	font-size: 14px;
}

.landmark {
	font-size: 14px;
	margin: 10px 0;
}

.promoted span {
	position: relative;

}

.promoted span:before {
	border: 50px solid blue; 
	border-left:  0;
	border-right: 30px solid transparent; 
	width:        100px;
}


.promoted span:before {
	border: 19px solid #75affd;
	border-right: 0;
	border-left: 29px solid transparent;
	width: 10px;
	position: absolute;
	content: "";
	top: -10px;
	left: -45px;
}

span.flag:after {
	border: 9px solid transparent;
	border-left: 0;
	border-right: 10px solid #dd1c26;
	width: 10px;
	position: absolute;
	content: "";
	top: 0;
	left: -20px;
}

span.flag:before {
	position: absolute;
	top: 6px;
	width: 5px;
	height: 5px;
	background: #ffffff;
	left: 0px;
	content: "";
	border-radius: 5px;
}


.deal-ribbon {
	display: inline-block;
	background: #37b496;
	font-size: 12px;
	padding: 5px;
	color: #fff;
	position: relative;
}

.deal {
	display: flex;
	align-items: baseline;
}

.deal-ribbon:after {
	position: absolute;
	content: "";
	border: 12px solid #37b496;
	top: 0;
	right: -25px;
	border-right: 15px solid transparent;
}

.deal-text {
	padding-left: 40px;
	font-size: 14px;
}

.deal-text a {
	text-decoration: none;
	color: #37b496;
}